!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env.local
/coverage/*
/db/*.sqlite3
/log/*
/public/system
/public/assets
/tags
/tmp/*

# Ignore figaro application configuration
/config/application.yml
.idea
*.rdb
/erd.pdf
.env
*.dump
