@charset "utf-8";

@import "normalize-rails";

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-default .navbar-toggle {
  border: 1px solid white;

  .icon-bar {
    background-color: white;
  }

  &:hover,
  &:focus {
    background-color: white;

    .icon-bar {
      background-color: #1de9b6;
    }
  }
}

.navbar {
  background-color: transparent;
  color: white;
  border: none;
}

.nav.navbar-nav {
  width: 100%;
  text-align: center;

  @media screen and (min-width: 768px) {
    width: inherit;
  }

  li a {
    color: white;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

.flex {
  display: flex;
}

#hero-image img {
  display: none;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    display: inherit;
    padding-left: 75px;
    width: 100%;
    margin-left: 0;
  }

  @media screen and (min-width: 992px) {
    padding-top: 50px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 0;
  }
}

#hero-cta {
  .header {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 40px;
    color: white;
    font-weight: normal;
  }

  .subheader {
    font-size: 20px;
    color: white;
    font-weight: normal;
  }

  padding-bottom: 40px;
}

.hero-block {
  position: relative;
  margin-top: 80px;
  margin-bottom: 100px;
}

.hero {
  height: 100%;
  border-radius: 5px;
  background-image: linear-gradient(235deg, #1de9b6, #00bfa5);
  box-shadow: 0 0 2.5px 0 #d8e0e3;
}
